@import "../node_modules/bootstrap/scss/bootstrap";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-size: 0.875rem;  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.rect-hover-border {
  stroke-width:2;
  stroke:$info;
}

.rect-no-border {
  stroke-width:0;
  stroke:$info;
}

.group-hover-border {
  outline-width: thin;
  outline-style: solid; 
  outline-color: $secondary;
  outline-offset: 0px;
}

.group-no-border {
  outline-width: thin;
  outline-style: none; 
  outline-color: $secondary;
  outline-offset: 0px;
}

.group-active-border{
  outline-width: thin;
  outline-style: solid; 
  outline-color: $warning;
  outline-offset: 0px;
}

.h-40 {
  height: 40% !important;
}

.h-50 {
  height: 50% !important;
}

.h-10 {
  height:10% !important;
}

.active:not(.modality) {
  outline: 3px solid color-mix(in srgb, $success, transparent 25%) !important;
}

.modality.active {
  border: 2px solid color-mix(in srgb, $success, transparent 25%) !important;
}